@import "tailwindcss";

:root {

  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #E6AA68;
  --color-secondary: #7FB069;
  --color-light: #FFFBBD;

  /* Polices */
  --font-itim: "Roboto", cursive;
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  --font-itim: var(--font-itim);
  --font-montserrat: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-poppins);
}